@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .tracking-extra-wide {
    letter-spacing: 0.3em; 
  }
  .tracking-xg-wide {
    letter-spacing: 0.5em;
  }
  .tracking-ultra-wide {
    letter-spacing: 0.8em; 
  }
}

@layer components {
  .container {
      @apply w-full max-w-[calc(100%-80px)] md:max-w-[calc(100%-80px)] lg:max-w-[calc(1024px-80px)] xl:max-w-[calc(100%-80px)] 2xl:max-w-[1440px];
  }
}